{% extends "base.html" %}

{% block content %}
         <style>
            svg {
                width: 1000px;
                height: 600px;
            }
            select{
                left: 0px;
                right: 0px;
            }

        </style>
            <div class="container">
            <h3 class="text-center">Female vs Male employment rate in various countries</h3>
            <script src="{{url_for('static', filename='js/figure1.js')}}"></script>
            <div class="row">
                <div class="col-1">Country: </div>
                <div class="col-3">
                    <select id="select1"  onchange="drawLolliPopChart();">
                        <option value="Madagascar">Madagascar</value>
                        <option value="Nicaragua">Nicaragua</value>
                        <option value="Romania">Romania</value>
                        <option value="South Korea">South Korea</value>
                        <option value="Trinidad and Tobago">Trinidad and Tobago</value>
                    </select>
                    <!-- add your select here-->
                </div>
            </div>
            <br>
            <div id="my_dataviz">
                <svg></svg>
                <!-- create svg here -->
            </div>
        </div>
{% endblock %}