{% extends "base.html" %}

{% block content %}
    <style>
      p,h1,h5{
        text-align: center;
      }
      </style>
<h1>Welcome to my online portfolio!</h1>
<br>
<h5><p>This is a place for me to show off some of the things I've made and to look back on for improvement purposes.
Currently I have some Data Vizulizations I made at ASU. The 3 figures are in the order when they were made. Each of the figures was made only with Javascript(Specificly D3.js), HTML, and CSS. Thanks for checking out my portfolio.
<br><br>Thanks again, Chance Engstrom</p></h5>
{% endblock %}